// 颜色定义规范
$color-background = #f9f9f9

// 文字颜色
$color-text = #464646  // 文字色1
$color-text = #464646  // 文字色1
$color-343439 = #343439   // 文字色2
$color-text = #464646 // 文字色1

// 辅助色
$color-white = #ffffff  // 白色
$color-light-gray = #dadada  // 浅浅灰
$color-green = #00c350 // 绿色
$color-orange = #ff4e00 // 橙色
$color-yellow = #fdfb00 // 黄色
$color-C3A66C  = #C3A66C  // 黄色

$color-2B2B2B = #2B2B2B
$color-666666 = #666666
$color-E4E4E4 = #E4E4E4
$color-C3A66C = #C3A66C
$color-FFFFFF = #FFFFFF
$color-C1C3C3 = #C1C3C3
$color-111313 = #111313
$color-A3A2A0 = #A3A2A0
$color-9E8F70 = #9E8F70
$color-676052 = #676052
$color-776B54 = #776B54
$color-979797 = #979797
$color-343439 = #343439
$color-AA905D = #AA905D
$color-F3F3F3 = #F3F3F3
$color-CFCFCF = #CFCFCF
$color-848484 = #848484
$color-mask-bg = rgba(13, 13, 13, 0.6)
$color-20202E = #20202E
$color-F8F8F8 = #F8F8F8
$color-E3E6E9= #E3E6E9
$color-BEB5A3= #BEB5A3
$color-F0EFF5 =#F0EFF5
//// 横线色值
$color-row-line = #E3E6E9
//// 竖线色值
$color-col-line = #E3E6E9

//字体
$font-family-regular = 'PingFangSC-Regular'
$font-family-light = 'PingFangSC-Light'
$font-family-medium = 'PingFangSC-Medium'
$font-family-dinbold = 'DINAlternate-Bold'
$font-family-bold = 'PingFangSC-Medium'

// 字体大小
$font-size-10 = 10px
$font-size-12 = 12px
$font-size-14 = 14px
$font-size-16 = 16px
$font-size-18 = 18px
$font-size-20 = 20px
$font-size-21 = 21px
$font-size-24 = 24px
